_form.html.erb

   <table>
   	<%= form.fields_for :storeimages do |image| %>
   	 <%= render 'storeimages_fields', f: image %>
   	<% end %>
   	<div class="field" >
	<%= link_to_add_association '行を追加',f,:storeimages %>
   </div>
   </table>
<div class="actions">
<%= f.submit '投稿' %>
</div>
<% end %>