<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-user style-1 rounded has-shadow-1">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<table class="table table-striped">
						<div class="actions row">

							<h2>顧客一覧情報</h2>

							<% @users. each do |user| %>
							<p><%= user.name %></p>
							<p><%= user.kana %></p>
							<%= link_to "詳細", user_path(user.id) %>
                             <% end %>
                         </div>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

