<li>
  <i class="fa fa-comment"></i>
  <a href="#comments"><%= @store.post.count %></a>
</li>

<div class="comment-list bt style-2" id="comments">
    <div class="float-wrapper">
        <h2 class="comment-count"><%= @store.post.count %>件コメント</h2>
    </div>
