// Place all the styles related to the fovorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box {
  width: 80%;
  height: 80%;
  background: #fff;
  margin: 0 auto;
}