// Place all the styles related to the searchs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title h1{
  margin: 0 auto;
  margin-bottom: 20px;
  padding-right: 205px;
  padding-top:30px;
}
